Body {
  color: #ffffff;
  font-family: "Comic Sans MS", Times, serif;
  background: linear-gradient(to bottom, #ff3399 0%, #0000cc 100%);
  background-image: url("stars.jpg");
}

h1 {
Background-color: cyan;
  Color: darkblue
}

a { 
Color:#ffffff;
}

a:hover { 
background-color: blue;
Color: cyan;
}

h1 {
font-size: 40px;
}

 h2, h3 {
font-size: 25px;
} 

body  {
  text-align: center;
}

.callout {
  padding: 30px;
  margin: 10px;
  background-color: #0000ff;
  
}





