Body {
  color: #ffffff;
  font-family: "Comic Sans MS", Times, serif;
    background: linear-gradient(to bottom, #9900ff 0%, #0000cc 100%);
}

h1 {
Background-color: cyan;
  Color: darkblue
}

a { 
Color:red;
}

a:hover { 
background-color: blue;
Color: cyan;
}

h1 {
font-size: 40px;
}

 h2, h3 {
font-size: 25px;
} 

body  {
  text-align: center;
}






